<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div class="navigation">
      <ul class = 'nav'>
        <li>
          <a href="#"><strong>Slacker News</strong></a>
        </li>
        <li><a href="#">new</a> |</li>
        <li><a href="#">comments</a> |</li>
        <li><a href="#">show</a> |</li>
        <li><a href="#">ask</a> |</li>
        <li><a href="#">jobs</a> |</li>
        <li><a href="/slackernews/submit">submit</a> </li>

        <li class = 'login'>
          <a href="https://news.ycombinator.com/newslogin?whence=news">login</a>
        </li>
      </ul>

    </div>

    <div class = "content">
      <h4 class='title'>
        <a href = "https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">1. Firebase Leaves Beta Today</a> <cite class = 'cite'>(firebase.com)</cite>
      </h4>
      <p>63 points by lyime 56 minutes ago | <a href="https://news.ycombinator.com/item?id=8193754">17 comments</a></p>

      <h4 class='title'>
        <a href = "http://fitzgeraldnick.com/weblog/50/">2. Destructuring Assignment in ECMAScript 6 </a> <cite class = 'cite'>(fitzgeraldnick.com)</cite>
      </h4>
      <p>40 points by mnemonik 49 minutes ago | <a href="https://news.ycombinator.com/item?id=8193754">5 comments</a></p>

      <h4 class='title'>
        <a href = "https://stripe.com/blog/introducing-stripe-uk">3. Introducing Stripe UK</a> <cite class = 'cite'>(stripe.com)</cite>
      </h4>
      <p>230 points by woodrow 4 hours ago | <a href="https://news.ycombinator.com/item?id=8193754">118 comments</a></p>

      <h4 class='title'>
        <a href = "http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">4. Datomic in the browser</a> <cite class = 'cite'>(ragnard.github.io)</cite>
      </h4>
      <p>47 points by brucehauman 2 hours ago | <a href="https://news.ycombinator.com/item?id=8193754">1 comments</a></p>

       <h4 class='title'>
        <a href = "https://developers.facebook.com/blog/post/2013/08/15/summary-of-the-august-13th-app-outage/">5. Facebook App Outage Postmortem</a> <cite class = 'cite'>(facebook.com)</cite>
      </h4>
      <p>15 points by lacker 32 minutes ago | <a href="https://news.ycombinator.com/item?id=8193754">2 comments</a></p>

      <h4 class='title'>
        <a href = "http://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-apps-talk-to-each-other-share-data-you-know-like-on-android/">6. Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data</a> <cite class = 'cite'>(techcrunch.com)</cite>
      </h4>
      <p>19 points by betojuareziii 1 hour ago | <a href="#https://news.ycombinator.com/item?id=8193754">13 comments</a></p>

      <h4 class='title'>
        <a href = "http://www.lettersofnote.com/2013/07/its-real-thing.html?m=1">7. It's the real thing</a> <cite class = 'cite'>(lettersofnote.com)</cite>
      </h4>
      <p> 75 points by ezl 3 hours ago | <a href="https://news.ycombinator.com/item?id=8193754">44 comments</a></p>

      <h4 class='title'>
        <a href = "http://firstround.com/article/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP">8. The anatomy of the perfect technical interview from a former Amazon VP</a> <cite class = 'cite'>(firstround.com)</cite>
      </h4>
      <p> 55 points by jnazario 3 hours ago | <a href="https://news.ycombinator.com/item?id=8193754">26 comments</a></p>

      <h4 class='title'>
        <a href = "http://www.washingtonpost.com/blogs/ask-the-post/wp/2013/08/15/editors-note/">9. The Washington Post Web site was hacked today</a> <cite class = 'cite'>(washingtonpost.com)</cite>
      </h4>

      <p> 34 points by selamattidur 2 hours ago | <a href="https://news.ycombinator.com/item?id=8193754">26 comments</a></p>
      <h4 class='title'>
        <a href = "http://stackoverflow.com/questions/16159203/why-does-this-java-program-terminate-despite-that-appears-that-it-shouldt-and">10. Why does this Java program terminate despite appearing that it shouldn't? </a> <cite class = 'cite'>(stackoverflow.com)</cite>
      </h4>
      <p> 88 points by patmcguire 3 hours ago | <a href="https://news.ycombinator.com/item?id=8193754">83 comments</a></p>


      <h4 class='title'>
        <a href = "#"> &nbsp &nbsp &nbspMore </a>
      </h4>

      <hr>


    <div class = "footer">
      <ul>
        <li>
          <a href="#">Guidelines</a>
        </li>
        |
        <li>
          <a href="#">FQA</a>
        </li>
        |
        <li>
          <a href="#">Lists</a>
        </li>
        |
        <li>
          <a href="#">Bookmarklet</a>
        </li>
        |
        <li>
          <a href="#">DMCA</a>
        </li>
        |
        <li>
          <a href="#">News News</a>
        </li>
        |
        <li>
          <a href="#">Bugs and Feature Requests</a>
        </li>
        |
        <li>
          <a href="#">Y Combinator</a>
        </li>
        |
        <li>
          <a href="#">Apply</a>
        </li>
        |
        <li>
          <a href="#">Library</a>
        </li>
        |
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>

    <div class="search">
      <form>
        <label>Search</label>
        <input type="text" name="search">
      </form>
    </div>
  </div>

</div>



  </body>


</html>
